api:
  build: ./api
  volumes:
    - "./api:/www/api"
  ports:
    - "3030:3000"
  links:
    - "mysql:mysql"
  environment:
    API_PORT: 3000
    API_HOST: api
    API_ENV: test
    NODE_DEBUG: 'true'

webapi:
  restart: always
  build: ./webapi
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - "./webapi/src:/www/webapi"
  links:
    - api:api

mysql:
  image: mysql
  ports:
    - "3306:3306"
  environment:
    MYSQL_ROOT_PASSWORD: rootroot
    MYSQL_USER: parkping
    MYSQL_PASSWORD: api231
    MYSQL_DATABASE: parkping
  volumes:
    - ./data/mysql:/docker-entrypoint-initdb.d

data:
  build: ./data


